.git
.github

.env
.env.*
!.env.example

vendor
node_modules

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/*.key
storage/pail

/public/build
/public/hot

.phpunit.cache
.phpunit.result.cache
coverage
clover.xml
coverage.xml

.idea
.vscode
.DS_Store

docs
decisions
